body {
  margin: 0;
  padding: 0;
  background: #EDEDE8;
}

.shadow {
  box-shadow: 0 0 20px grey;
}
.border-radius {
  border-radius: 5px;
}

/*nav component*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #66A182;
  color: white;
}
.nav-header {
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 45px;
}
.nav-wrapper {
  padding: 5px;
}
.link-wrapper {
  margin: 0 5px;
  padding: 0;
}
.link {
  margin: 0 5px;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.link:hover {
  text-shadow: 0 5px 5px black;
  transition: 0.3s;
}

/*about component*/
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.left-wrapper {
  flex: 25%;
  margin: 25px;
}
.left-wrapper img {
  width: 100%;
}
.right-wrapper {
  flex: 50%;
  margin: 0 25px;
  padding: 5px;
}
.about-bio {
  font-size: 20px;
  text-align: justify;
}
.about-bio p {
  padding: 20px;
}