
main {
    font-family: 'Varela Round', sans-serif;
    background: var(--secondary);
  }
  
  .border-radius {border-radius: 5px;}
  
  .page-title {
    padding: 10px 0;
    font-size: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .page-title-alt {
    color: white;
  }
  
  .section-wrapper {
    background: var(--primary);
  }
  
  /* || Nav Component */
  header {
    background: var(--primary);
    color: white;
  }
  
  .navbar-brand {
    font-size: 2vw;
    margin: 0 0 0 35px;
  }
  
  .nav-link {color: white;}
  
  .navbar-nav {margin: 0 35px 0 0;}
  
  /* || About Component */
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: var(--primary);
  }
  
  .left-wrapper {
    flex: 25%;
    margin: 35px;
  }
  
  .left-wrapper img {
    width: 100%;
    border-radius: 50%;
  }
  
  .right-wrapper {
    flex: 30%;
    margin: 125px;
    color: white;
  }
  
  .about-bio {
    font-size: 25px;
    text-align: justify;
  }
  
  .about-bio p {line-height: 2;}
  
  .resume-download {
    text-decoration: none;
    font-size: 1vw;
    margin: 0 auto;
    padding: 5px 15px;
    color: black;
    border-radius: 10px;
    background: var(--secondary);
  }
  
  .resume-download:hover {
    color: var(--primary)
  }
  
  /* || Portfolio */
  .resume-wrapper {
    background: var(--secondary);
  }
  
  .port-header {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 30px;
  }
  
  .port-header-alt {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 30px;
    color: var(--secondary)
  }
  
  .card {
    border: none;
    background: white;
    margin: 15px;
    transition: 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    object-fit: contain;
    height: 20vw;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .btn {
    background: var(--primary);
    width: 100%;
    padding: 5px 15px;
    margin: 5px auto;
    border-radius: 0;
    color: white;
  }
  
  .port-btn {
    display: block;
    background: var(--primary);
    padding: 5px 15px;
    margin: 5px auto;
    border-radius: 0;
    width: 35%;
    border: none;
    color: white;
    text-decoration: none;
  }
  
  .btn:hover {
    color: var(--secondary);
  }
  
  .fa-angle-down {
    font-size: 2vw;
    float: right;
  }
  
  /* || Resume Component */
  
  #skills {
    background: var(--primary);
    padding-bottom: 125px;
  }
  
  .skill-header {
    color: white;
    border-bottom: thin solid white;
    width: 20%;
    text-align: center;
    margin: 35px auto;
  }
  
  .icon-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }
  
  .icon {
    font-size: 8vw;
    color: white;
    margin: 25px;
    transition: 0.3s;
  }
  
  /* || Footer Component */
  footer {
    text-align: center;
    background: var(--secondary);
    width: 100%;
    padding: 5px 0;
  }
  
  footer a {
    margin: 0 20px;
    font-size: 3vw;
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
  }
  
  footer a:hover {color: #66A182;}
  
  /* || Responsive */
  
  @media screen and (max-width: 320px) {
    /* || Defaults */
    .page-title {
      font-size: 6vw;
      margin: 0;
    }
  
    .container-fluid {padding: 0;}
  
    .port-header {font-size: 5vw;}
  
    svg, path {display: none;}
  
  
    /* || Nav Component */
    .navbar-brand {
      font-size: 6vw;
      margin: 0;
      padding: 0 10px;
    }
  
    .navbar-nav {margin: 0;}
  
    .nav-link {color: black;}
  
    .navbar-collapse {
      width: 100%;
      background: var(--secondary);
      margin: 0;
      padding: 0 10px;
    }
  
    main {
      width: 100%;
      height: auto;
      margin: 0;
    }
  
    /* || About Component */
    .about-wrapper {
      display: block;
      padding: 0 10px;
    }
  
    .left-wrapper {margin: 0 5px;}
  
    .left-wrapper img {
      width: 75%;
      display: block;
      margin: auto;
    }
  
    .right-wrapper {margin: 20px 10px;}
  
    .about-bio {font-size: 4vw;}
  
    .resume-download {
      font-size: 3vw;
      margin: 0 70px;
      padding: 5px 15px;
      color: black;
      border-radius: 10px;
      background: var(--secondary);
    }
  
    /* || Portfolio */
    .port-header {
      font-size: 6.5vw;
      margin: 15px 0;
    }
    
    .port-header-alt {
      font-size: 6.5vw;
      margin: 15px 0;
      color: var(--secondary)
    }
  
    .card {
      width: 100%;
      margin: 0;
    }
  
    .card:hover {transform: none;}
  
    .card img {
      object-fit: contain;
      width: 100%;
      height: auto
    }
  
    .card-body a {
      width: 100%;
      margin: 5px 0;
    }
  
    .row {display: block;}
  
    .port-btn {
      padding: 5px 15px;
      margin-top: 5px;
      border-radius: 0;
      width: 100%;
    }
  
    .fa-angle-down {
      font-size: 6vw;
    } 
  
    /* || Resume Component */
    #skills {
      margin-top: 20px;
    }
  
    .icon-wrapper {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
      margin: 0;
      padding: 0;
    }
  
    .skill-header {
      color: white;
      border-bottom: thick solid black;
      width: 100%;
      margin: 0;
      padding: 0;
      display: none;
    }
  
    .icon::before {
      font-size: 10vw;
      transition: 0.3s;
    }
  
    .icon:hover {transform: none;}
  
    /* || Footer */
    footer a {font-size: 5vw;}
  
  }
  
  @media screen and (max-width:375px) {
    .page-title {font-size: 8vw;}
  
    .container-fluid {padding: 0;}
  
    .port-header {font-size: 5vw;}
  
    .port-header-alt {font-size: 5vw;}
  
    /* || Nav Component */
    .navbar-brand {
      font-size: 6vw;
      margin: 0;
      padding: 0 10px;
    }
  
    .navbar-nav {margin: 0;}
  
    .nav-link {color: black;}
  
    .navbar-collapse {
      width: 100%;
      background: var(--secondary);
      margin: 0;
      padding: 0 10px;
    }
  
    main {
      width: 100%;
      height: auto;
      margin: 0;
    }
  
    /* || About Component */
    .about-wrapper {
      display: block;
      padding: 0;
      text-align: center;
    }
  
    .left-wrapper {margin: 0 5px;}
  
    .left-wrapper img {width: 75%;}
  
    .right-wrapper {
      margin: 40px 15px;
      overflow: hidden;
    }
  
    .about-bio {
      font-size: 4vw;
    }
  
    .resume-download {
      font-size: 3vw;
      margin: 0 auto;
    }
  
    /* || Portfolio */
    .port-btn {
      padding: 5px 15px;
      margin-top: 5px;
      border-radius: 5px;
      width: 90%;
    }
  
    .fa-angle-down {font-size: 6vw;} 
    
    .card {
      width: 75%;
      margin: 10px auto;
    }
  
    .card:hover {transform: none;}
  
    .card img {
      object-fit: contain;
      width: 100%;
      height: auto
    }
  
    .row {display: block;}
  
    /* || Resume Component */
    #skills {
      padding: 5px;
      text-align: center;
    }
  
    .icon-wrapper {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
    }
  
    .skill-header {
      color: white;
      font-size: 4vw;
      width: 35%;
      margin: 0 auto;
      padding: 0;
    }
  
    .icon::before {
      font-size: 10vw;
      transition: none;
    }
  
    .icon:hover {transform: none;}
  
    /* || Footer */
    footer a {font-size: 7vw;}
  }